pandas
scikit-learn
imbalanced-learn
torch
transformers
datasets
evaluate
accelerate
seqeval
codecarbon
matplotlib
seaborn
openpyxl
sentence_transformers
openai
shap
lime
scipy
python-dotenv
crewai
plotly